# Fichiers contenant des informations sensibles
.env

# Fichier de dépendances
pip-lock.txt

# Fichiers de logs
*.log

# Fichiers temporaires
*.tmp
*.temp

# Fichiers mac
.DS_Store

# Fichiers python cache
__pycache__/